$background-linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
$inter: 'Inter', sans-serif;
$lexend-deca: 'Lexend Deca', sans-serif;
$background: rgba(243, 245, 247, 1);
$gray: #B6B6B6;
$dark-gray: #313131;
$purple: #574AE8;



@mixin desktop{
    @media (min-width: 1200px){
        @content;
    }
}
