@import 'reset';
@import 'config';
@import 'responsive';


body {
    background: $background;
    font-family: $lexend-deca;
}

header {
    height: 200px;
    width: 100%;
    padding: 48px 0;
    background: $background-linear;

    .container {
        width: 92%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            margin-top: 4.7px;
        }
    }

    form {
        color: white;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        padding: 12px;
        display: flex;

        i {
            margin-right: 10px;
        }

        input {
            background: none;
            border: none;
            width: 100%;
            color: white;

            &:focus{
                outline: none;
            }
        }
    }
}

::placeholder {
    font-family: $inter;
    color: white;
    font-size: 14px;
    opacity: 0.5;
}


main {

    margin: 50px auto;
}



section {
    width: 92%;
    background: white;
    border-radius: 5px;
    margin: 25px auto;
    padding: 1.5rem;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);

    .status {
        display: flex;
        justify-content: space-between;


        i {
            color: $purple;
            font-size: 20px;
            cursor: pointer;
            padding: 2px;
        }
    }
}

p {
    font-size: 14px;
    color: $gray;
    line-height: 2;
}

h3 {
    margin-top: 25px;
    margin-bottom: 9px;
    font-size: 18;
    font-weight: 500;
}